{% set webspace_key = app.request.attributes.get('_sulu').getAttribute('webspace').key %}
<!DOCTYPE html>
<html lang="{{ request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %} {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% stylesheets filter="scssphp,cssrewrite" output="css/app.css"
            'bundles/clientwebsite/pmg_social/default/scss/main.scss'
            'bundles/clientwebsite/pmg_social/default/css/vegas.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(45.4843521,-73.6943357),
    zoom:17,
    panControl:false,
    zoomControl:false,
    mapTypeControl:false,
    scaleControl:false,
    streetViewControl:false,
    overviewMapControl:false,
    rotateControl:false,    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

    </head>
<body class="{{webspace_key~'_site'}}">
<div class="page-wrapper">

    <div class="container">
        {% block header %}
        {% include "ClientWebsiteBundle:blocks:header.html.twig" %}
        {% endblock %}

            <!-- content -->
            {% block content %}{% endblock %}
            <!-- /content -->
    </div><!-- /container -->
            <!-- footer -->
        {% block footer %}
        {% include "ClientWebsiteBundle:blocks:footer.html.twig" %}
        {% endblock %}
            <!-- /footer -->
{% block scripts %}
        {% javascripts
            '@ClientWebsiteBundle/Resources/public/pmg_social/default/js/jquery.js'
            '@ClientWebsiteBundle/Resources/public/pmg_social/default/js/bootstrap.min.js'
            '@ClientWebsiteBundle/Resources/public/pmg_social/default/js/vegas.min.js'
            '@ClientWebsiteBundle/Resources/public/pmg_social/default/js/lightbox.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            }
            else{
            jQuery(document).ready(function(){
            $(".dropdown").hover(
            function() { $('.dropdown-menu', this).fadeIn("fast");
            },
            function() { $('.dropdown-menu', this).fadeOut("fast");
            });
            });


            }
            </script> 
            <script>
            $( ".box-1" ).click(function() {
            $( "#showbox-1" ).fadeIn( "" );
            $( ".box-1" ).addClass( "active" );
            //$( ".halls-menu-left" ).addClass( "zindex-up" );


            });

            $( ".close-btn" ).click(function() {
            $( ".show-hide-box" ).fadeOut( "" );
            $( ".halss-menu-box" ).removeClass( "active" );
            //$( ".halls-menu-left" ).removeClass( "zindex-up" );
            });
           </script>
           <script type="text/javascript">
$(document).ready(function ($) {

	// delegate calls to data-toggle="lightbox"
	$(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
		event.preventDefault();
		return $(this).ekkoLightbox({
			onShown: function() {
				if (window.console) {
					return console.log('onShown event fired');
				}
			},
			onContentLoaded: function() {
				if (window.console) {
					return console.log('onContentLoaded event fired');
				}
			},
			onNavigate: function(direction, itemIndex) {
				if (window.console) {
					return console.log('Navigating '+direction+'. Current item: '+itemIndex);
				}
			}
		});
	});

	//Programatically call
	$('#open-image').click(function (e) {
		e.preventDefault();
		$(this).ekkoLightbox();
	});
	$('#open-youtube').click(function (e) {
		e.preventDefault();
		$(this).ekkoLightbox();
	});

	$(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
		event.preventDefault();
		return $(this).ekkoLightbox({
			onShown: function() {
				var lb = this;
				$(lb.modal_content).on('click', '.modal-footer a#jumpit', function(e) {
					e.preventDefault();
					lb.navigateTo(2);
				});
				$(lb.modal_content).on('click', '.modal-footer a#closeit', function(e) {
					e.preventDefault();
					lb.close();
				});
			}
		});
	});

});
</script>
{% endblock %}
    </body>
</html>
