  <div class="gallery-section last-section">
    <div class="page-heading">
      <h2>Gallery</h2>
    </div>
    <div class="gallery-list-section">
      <div class="row">
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-1.jpg"> <img class="img-responsive" src="images/gallery-1.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-2.jpg"> <img class="img-responsive" src="images/gallery-2.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-3.jpg"> <img class="img-responsive" src="images/gallery-3.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-4.jpg"> <img class="img-responsive" src="images/gallery-4.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-5.jpg"> <img class="img-responsive" src="images/gallery-5.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-6.jpg"> <img class="img-responsive" src="images/gallery-6.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-7.jpg"> <img class="img-responsive" src="images/gallery-7.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-8.jpg"> <img class="img-responsive" src="images/gallery-8.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-9.jpg"> <img class="img-responsive" src="images/gallery-9.jpg" alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-10.jpg"> <img class="img-responsive" src="images/gallery-10.jpg" alt="" /> </a> </div>
      </div>
    </div>
  </div>