{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block title %} Resource not found {% endblock %}

{% block content %}
<div class="banner-section">
  <div class="banner-img">
    <div class="banner-overlay-color"></div>
    <img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/banner-img.jpg')}}" alt="" />
    <h1>{%trans%}Resource not found{%endtrans%}</h1>
  </div>
</div>

<div>
    <p>The path "<em>{{ request.resourceLocator }}</em>" does not exist.</p>
</div>
    <div class="push"></div>
{% endblock %}
