{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
      <div class="banner-section">
    <div class="banner-img">
        <img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/testimonial-banner.jpg') }}" alt="" />
    	<h1>TESTIMONIALS</h1>
    </div>
  </div>
  <div class="inner-content-section testimonial-page-section">
  	<div class="container">
    	<div class="testimonial-list-section">
        	<article class="testimonial-list-box">
				<div class="testimonial-list-content">
                    <h6>Hi Natali!,</h6>
                    <p>Speaking on behalf of myself, it was truly a pleasure doing business with you and your staff. All members of your staff were extremely courteous and helpful but four of your individuals really outdid themselves.</p>
                    <p>
                        It would be greatly appreciated if you would please extend my sincere thanks to Patrice, Joe and Mark (a/v requirements) and a young lady by the name of Tuyet.
                    </p>
                    <p>
                        There wasn't anything that I asked of them that was not done in record time. The food and location received high marks from all the attendees at the Conference. Also a special thanks to you for helping us make this event run smoothly.
                    </p>
                    <p>
                        It turned out to be a great success.
                    </p>
                    <p>
                        Your professionalism and detail to attention were greatly appreciated.
                    </p>
                    <p>
                        Again, my sincere thanks!
                    </p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Judy Brebner</h6>
                    <h6>Administrative Assistant ATEQ</h6>
                    
                </div>
            </article>
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                    <p>Thank you Natali, it was an amazing and successful evening!!</p>
                    <p>
                        Sincerely, I was a little nervous no matter how many times I have done this before, but your whole team was fantastic, and always there when we needed them and with a smile, we could not have asked for better service!!
                    </p>
                    <p>
                        Thank you for all your help and your way of knowing that all was going to turn out wonderfully.
                    </p>
                    <p>
                        I hope we have the chance to work together for future events, and I will be sure to highly recommend your hotel with pleasure.
                    </p>
                    <p>
                       Thanks again
                    </p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Sonia</h6>
                </div>
            </article>
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                    <p>Natali,</p>
                    <p>
                        It was an absolute pleasure working with you both as a customer, and on a personal note. Everyone was floored by the great hospitality and service by yourself and your staff.
                    </p>
                    <p>
                        If we hold the event again in Montreal next year, I will make a strong recommendation for us to host the event at your venue once again!
                    </p>
                    <p>
                        All the best!
                    </p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Sue</h6>
                </div>
            </article>
            
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                    <p>Thanks you so much for your help Natalie, everything went very well! .</p>
                    <p>
                        I look forward to working together in the future!
                    </p>
                    <p>
                        Thanks again,
                    </p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Josh Sevy</h6>
                </div>
            </article>
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                	<h6>Dear Natali</h6>
                    <p>All I am hearing is glowing reviews on the reception and the facilities in general, not to mention all the little details you and your staff arranged. I can’t tell you how much our graduates and parents enjoyed themselves. Thank you, thank you. I am so glad that I reserved next year’s date with you already.</p>
                    <p>
                       Again, thank you for the warm and excellent welcome you gave to our parents and alumni. You can be sure that we will be coming back in the future. I will certainly be in touch again.
                    </p>
                    <p>
                        Warm regards and sincere thanks to you and La Plaza!
                    </p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Maria T.</h6>
                    <h6>Keenan Director, Alumni Relations Homecoming and Special Events Development and Alumni Relations</h6>
                </div>
            </article>
            
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                	<p>Dear Nathali,</p>
                    <p>
                      Thank you! On behalf of our membership with the children's Oncology Camps Association International we would like to thank you anf all the staff at the Plaza Banquets for your service and hospitality.
                    </p>
                    <p>
                       When we met with you and your team with less than a month to go until our conference because our original hotel that was booked 2 years prior closed its doors, you confidently told us you would be able to handle our group. and you did with kindness and smiles!
                    </p>
                    <p>
                    	You helped come up with creative ways for our group to fit in and honored our budget based on our old contract. You and your staff were easy to work with, friendly and helpful! You were able to create meals with a taste of Montreal. The food was delicious and plentiful!
                    </p>
                    <p>
                    	For our membership this will be remembered as the conference that almost wasn't and due to the hard work of everyone involved it will always be remembered!
                    </p>
                    <p>
                    	You should take great pride in your work and as well knowing that you provided a place for the leader's of children's oncology camps to growth, learn and share!
                    </p>
                    <p>
                    	I wish you continued success!
                    </p>
                    <p>Your in Camping</p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Marci Shea-Perry,</h6>
                    <h6>COCA Past President</h6>
                </div>
            </article>
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                	<p>Hi Kimberly,,</p>
                    <p>
                      Now that we are coming off of cloud 9 I must tell you what a fabulous job you and your staff did at Zena and Steve’s wedding.
                    </p>
                    <p>
                    	Everything was beautiful, service was excellent, and food delicious and plentiful.
                    </p>
                    <p>
                    	All the best, and again many thanks!
                    </p>
                    
                </div>
                <div class="testimonial-author-part">
                	<h6>Doreen and Harvey Levine</h6>
                </div>
            </article>
            
            <article class="testimonial-list-box">
				<div class="testimonial-list-content">
                	<h6>Hi Cheryl,</h6>
                    <p>
                      Hope you have recovered from your hectic weekend. You worked really hard, so you deserve a big rest!!
                    </p>
                    <p>
                       I don't know where to start. The whole experience was just amazing. I am getting calls from ladies who are NOT EVEN IN MY CLASS telling me how wonderful their experience at the hotel and THE FOOD was! You really outdid yourself, and absolutely everyone appreciate it.
                    </p>
                    <p>
                    	On Friday night the decor was gorgeous, and the food was superb. There were so many people, all running all over the place, hard to keep track of, and yet there was NOT ONE surly or nasty waiter/waitress. The food was hot, beautifully presented, beautifully served, and everyone I know was utterly impressed. And then there was Saturday.............
                    </p>
                    <p>
                    	Our room was just amazing. The waiters/waiteress were/was fantastic. Again, The food ........ Some of classmates said it was the best meal they'd had in weeks, and one in particular said she'd never had such a fantastic starter as that baluchon of veggies.... EVERYONE was impressed, to the extend that they want to go back in 5 years, for the 5 0th reunion, to the same room with another outstanding evening. Our meals were beautifully presented, hot, and totally delicious. The dessert was to die for ...... [I like the chocolate!] All I can say is thank you, thank you, thank you. For everything!
                    </p>
                    <p>
                    	I am so glad you were able to help out the Vic, and I know they were really impressed. It's too bad the Alumnae doesn't exist any more, but I am sure that if any one of them has functions to arrange, you'll be away up on their list of people to call first! For sure I will......... I hope you'll still be working in five years.
                    </p>
                    <p>
                    	Meawhile, take care, be well, and happy fishing! Do keep in touch.
                    </p>
                    <p>Thanks again Cheryl. You made it the most memorable reunion we've ever had. It will let you know the comments if and when they come.. but so far, everyone thinks the same way I do. Be proud of yourself, you did an amazing, professional, tasteful, marvellous job, and we all loved you and it.</p>
                    <p>
                    	Thanks again
                    </p>
                </div>
                <div class="testimonial-author-part">
                	<h6>Gill</h6>
                </div>
            </article>
        </div>
    </div>
  </div>
  
  
  
  
  
  <div class="push"></div>

{% endblock %}