{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
      <div class="banner-section">
    <div class="banner-img menu-bannerimg">
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.277896562941!2d-73.6943356844419!3d45.48434837910121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9179261d81bfb%3A0x7fa861cd7e642b9c!2s6600+Chemin+de+la+C%C3%B4te+de+Liesse%2C+Montr%C3%A9al%2C+QC+H4T+1E3%2C+Canada!5e0!3m2!1sen!2sin!4v1465298689540" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="contact-page-section last-section">
  	<div class="container">
    	<div class="row">
        	<div class="col-sm-7 contact-form">
            	<form action="">
                	<div class="row">
                    	<div class="col-sm-6">
                        	<input type="text" placeholder="Name" />
                        </div>
                        <div class="col-sm-6">
                        	<input type="text" placeholder="Last name" />
                        </div>
                        <div class="col-sm-12">
                        	<input type="email" placeholder="E-mail" />
                        </div>
                        <div class="col-sm-12">
                        	<textarea placeholder="Message"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 contact-detail">
            	<p>
                	<strong>6600 Cote-de-Liesse, Saint-Laurent, QC H4T 1E3. Canada</strong>
                </p>
                <p><strong>Tel:</strong> (514) 735-5150</p>
                <p><strong>Fax:</strong> (514) 735-6132</p>
                <p><strong>Courriel:</strong> <a href="mailto:info@plazavolare.com">info@plazavolare.com</a></p>
            </div>
        </div>
    </div>
  </div>
  
  <div class="push"></div>

{% endblock %}