{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
  <div class="banner-section">
    <div class="banner-img menu-bannerimg">
    	<img src="images/testimonial-banner.jpg" alt="" />
    </div>
  </div>
  
  <div class="tetimonial-section black-testimonial">
  	<div class="container">
    	<div class="page-heading">
          	<h2>Testimonials</h2>
        </div>
    	<div class="row">
        	<div class="col-sm-8 testimonial-info">
            	<p>
                	<strong>"</strong> Nous venons à peine de nous en remettre de notre journée. Nous en profitons donc pour t'écrire un petit message. Au nom de nos deux familles nous aimerions te remercier d'avoir organisé notre mariage. La journée était bien au-delà de nos attentes. Dès notre première rencontre tu as gagné notre confiance et  depuis tout a été parfait! La salle était superbe et nous avons eu tellement de compliments par rapport à la salle, l'organisation de l'évènement ainsi que le dîner (dont nos collègues du travail ont parlé pendant plus d'une semaine après la soirée). Les serveurs étaient aussi très professionnels et courtois.  Tu as accommodé chacune de nos demandes sans hésitation et avec beaucoup de plaisir. L'avant salle que tu nous avais promis en surprise était magnifique et tu as su incorporer notre vision dans chacun des détails. Rachid et moi te remercions profondément d'avoir pu nous offrir un tel service pour cette journée si importante dans nos vies. Et surtout, tu es toujours la bienvenue au Maroc ou en Algérie, n'hésites pas à nous faire signe si tu prévoies une visite.
               Encore une fois merci infiniment et nous te souhaitons bonne continuation!!! <strong>"</strong></p>
            </div>
            <div class="col-sm-4 testimonial-author">
            	<div class="testimonial-img"><img src="images/testimonial-1.jpg" alt="" /></div>
                <div class="author-info">
                	<h4>Davide et Angie</h4>
                    <div class="event-info">Mariage 19 avril 2014</div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="tetimonial-section pink-testimonial">
  	<div class="container">
    	<div class="row">
        	<div class="col-sm-4 testimonial-author">
            	<div class="testimonial-img"><img src="images/testimonial-2.jpg" alt="" /></div>
                <div class="author-info">
                	<h4>Black Theatre</h4>
                    <div class="event-info">Workshop, 9 avril 2014</div>
                    
                </div>
            </div>
        	<div class="col-sm-8 testimonial-info">
            	<p>
                	<strong>"</strong> Black Theatre workshop would like to thank you and the entire team at La Plaza Centre-Ville for your warm welcome, patience and your great service!
               		From all of us, thank you <strong>"</strong></p>
            </div>
            
        </div>
    </div>
  </div>
  
  <div class="tetimonial-section last-section">
  	<div class="container">
    	<div class="row">
        	
        	<div class="col-sm-8 testimonial-info">
            	<p>
                	<strong>"</strong> Dear staff of Plaza Centre-ville,
               </p>
               <p>
               		We wanted to sincerely thank you and your staff for all of your assistance in making our Parent's 50th Wedding Anniversary Celebration (November 16th, 2013) so special. We cannot thank you enough for all of the "Extra special" touches you personally provided, such as the sashes on the tables, the up-lighting, the plexiglass bars and your continuous attention to detail throughout the evening. In addition, the buffet was nothing short of excellent and spectacular. All of our guests were delighted with the wonderful meal your team provided. Even the waiters went out of their way in helping us to gather all of our decorations, at the end of the evening. You were a true professional in every sense of the word. It was our pleasure to work with you and we sincerely thank you for everything.<strong>"</strong></p>
            </div>
            <div class="col-sm-4 testimonial-author">
            	<div class="testimonial-img"><img src="images/testimonial-3.jpg" alt="" /></div>
                <div class="author-info">
                	<h4>Camélia et Rachid</h4>
                    <div class="event-info">50th Wedding Anniversary - November 16th 2013</div>
                    
                </div>
            </div>
            
        </div>
    </div>
  </div>
  
  <div class="push"></div>

{% endblock %}