{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% if content.header_images is defined and content.header_images is not empty %}
        {% set section_image = random(content.header_images)%}
        {% set section_image = section_image.thumbnails['section-header-corp']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/home-banner-img.jpg'%}        
    {% endif %}

  <div class="banner-section">
    <div class="banner-img menu-bannerimg">
    	<img src="{{ asset(section_image) }}" alt="" />
    </div>
  </div>
        {% if content.gallery is iterable and content.gallery is not empty%}
        {% include 'PmgSocialBundle:snippets:gallery.snippet.html.twig' with { 'content' : content.gallery, 'title' : content.title} %}
        {% endif %}
      <div class="push"></div>
{% endblock %}