{% set webspace_key = request.webspaceKey %}
{% set social_webspace_key = request.webspaceKey|replace({'_base' : '_social'} )%}
{% set corp_webspace_key = request.webspaceKey|replace({'_base' : '_corp'} )%}
{% if request.locale == 'en' %}
    {% set alter_locale = 'fr' %}
{% else %}
    {% set alter_locale = 'en' %}
{% endif %}

{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
<div class="landing-page-wrapper">
	<div class="logo-section">
    	<img src="{{ asset('bundles/pmgsocial/pmg_social/'~webspace_key~'/images/logo-footer.png') }}" alt="" />
    </div>
	<div class="common-section social-section">
    	<div class="overlay-white"></div>
        <div class="social-image-section">
    		<a href="{{ sulu_content_path('/',social_webspace_key) }}"><span>{%trans%}Social{%endtrans%}</span></a>
        </div>
    </div>
    <div class="common-section corporate-section">
    	<div class="overlay-black"></div>
    	<div class="corporate-image-section">
        	<a href="{{ sulu_content_path('/',corp_webspace_key) }}"><span>{%trans%}Corporate{%endtrans%}</span></a>
        </div>
    </div>
</div>
{% endblock%}

