@import "compass";
@import "bootstrap";

$custom-font-path: "../fonts/";


@font-face {
    font-family: 'open_sansbold';
    src: url('#{$custom-font-path}opensans-bold-webfont.eot');
    src: url('#{$custom-font-path}opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}opensans-bold-webfont.woff2') format('woff2'),
         url('#{$custom-font-path}opensans-bold-webfont.woff') format('woff'),
         url('#{$custom-font-path}opensans-bold-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('#{$custom-font-path}opensans-regular-webfont.eot');
    src: url('#{$custom-font-path}opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}opensans-regular-webfont.woff2') format('woff2'),
         url('#{$custom-font-path}opensans-regular-webfont.woff') format('woff'),
         url('#{$custom-font-path}opensans-regular-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'playfair_displayitalic';
    src: url('#{$custom-font-path}playfairdisplay-italic-webfont.eot');
    src: url('#{$custom-font-path}playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$custom-font-path}playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('#{$custom-font-path}playfairdisplay-italic-webfont.woff') format('woff'),
         url('#{$custom-font-path}playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('#{$custom-font-path}playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}



body{background:$body-color; color:$white; font-size:24px;  font-family: 'open_sansregular'; overflow-x:hidden;

	@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
	  font-size:20px;
	}
	@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
		font-size:20px;
	}
	@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
	  font-size:18px;
	}
	@media (max-width: $iphone-to-ipad) {
	  font-size:16px;
	}
	@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
		font-size:16px;
	}
	@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
		font-size:14px;
	}

}

h1,h2,h3,h4,h5,h6{margin:0 0 20px 0; padding:0; font-family: 'playfair_displaybold'; color:$white;}
h1{font-size:60px;}
h2{font-size:44px;}
h3{font-size:36px;}
h4{font-size:30px;}
h5{font-size:24px;}
h6{font-size:18px;}

a{color:$pink-color;
	&:hover{color:$black;}
}
.landing-page-wrapper{position:absolute; width:100%; height:100%; display:table;
	@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
		display:inline;
	}
	
	&:before{
		 background: $black;
		content: "";
		height: 100%;
		left: 50%;
		margin-left: -3px;
		position: absolute;
		top: 0;
		width: 6px;
		z-index: 5;
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			content:none;
		}
	}
}

.common-section{
	 width:50%; height:100%; display:table-cell; vertical-align:top; position:relative;
	
		 a{
	 	position:absolute;  z-index:5;
		font-size:72px; font-family: 'playfair_displayitalic'; text-decoration:none; 
		display:block; width:100%; height:100%;
		
		&:hover{
			color:$pink-color;
		}
		@media (min-width: $desktop-min-full-width) and (max-width: $desktop-max-full-width) {
		  	font-size:50px;
		}
		@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
		  	font-size:44px;
		}
		@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
		  	font-size:40px;
		}
		@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
		 	font-size:40px;
		}
		@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
		  	font-size:30px;
		}
		@media (max-width: $iphone-to-ipad) {
		  	font-size:30px;
		}
		@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
			font-size:24px;		
		}
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			font-size:36px;
		}
		
		&:focus{outline:none;}
		
		span{
			position:absolute; left:50%; top:50%;
		}
	}
	
	
		
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			height:50%; display:inherit; width:100%;			
		}
	
}


.social-section{ left:0; border-right:0px solid $black;
	a{
	  	
		color:$black;
		span{
			transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
			@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
				transform:translate(-60%,-50%); -moz-transform:translate(-60%,-50%); -webkit-transform:translate(-60%,-50%); -ms-transform:translate(-60%,-50%);
			}
			@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
				transform:translate(-60%,-50%); -moz-transform:translate(-60%,-50%); -webkit-transform:translate(-60%,-50%); -ms-transform:translate(-60%,-50%);
			}
			@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
				transform:translate(-60%,-50%); -moz-transform:translate(-60%,-50%); -webkit-transform:translate(-60%,-50%); -ms-transform:translate(-60%,-50%);	
			}
			@media (max-width: $iphone-to-ipad) {
			  transform:translate(-60%,-50%); -moz-transform:translate(-60%,-50%); -webkit-transform:translate(-60%,-50%); -ms-transform:translate(-60%,-50%);	
			}
			@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
				transform:translate(-70%,-50%); -moz-transform:translate(-70%,-50%); -webkit-transform:translate(-70%,-50%); -ms-transform:translate(-70%,-50%);	
			}
			@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
				transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);			
			}
		}
		
	 }
	 
	 @media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			border-right:0px solid $black; border-bottom:3px solid $black;
		}
		
	&:hover{
		.overlay-white{
			background:rgba(255,255,255,0.9);
		}
	}
	 
}
.corporate-section{border-left:0px solid $black; right:0;
	
	a{
	  	
		color:$white;
		span{
			transform:translate(-60%,-50%); -moz-transform:translate(-60%,-50%); -webkit-transform:translate(-60%,-50%); -ms-transform:translate(-60%,-50%);
			
			@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
				transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
			}
			@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
			 transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);
			}
			@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
				transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
			}
			@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
				 transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
			}
			@media (max-width: $iphone-to-ipad) {
			  transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
			}
			@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
				transform:translate(-10%,-50%); -moz-transform:translate(-10%,-50%); -webkit-transform:translate(-10%,-50%); -ms-transform:translate(-10%,-50%);	
			}
			@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
				transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);			
			}
		}
	 }
	 
	  @media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			border-left:0px solid $black; border-top:3px solid $black;
		}
	
	&:hover{
		.overlay-black{
			background:rgba(0,0,0,0.7);
		}
	}
}

.overlay-white{
	position:absolute; width:100%; height:100%; background:rgba(255,255,255,0.78); z-index:2;
}
.overlay-black{
	position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.50); z-index:2;
}
.image-section{
	position:absolute; height:100%;
	img{
		height:100%;
	}
}

.social-image-section{
	background:url($social-image-section-bg) no-repeat left bottom; background-size:cover; position:absolute; width:100%; height:100%;
	
	
	
}

.corporate-image-section{
	background:url($corporate-image-section-bg) no-repeat left top; background-size:cover; position:absolute;  width:100%; height:100%;
	
	
}


.logo-section{
	position:absolute; z-index:10; left:50%; top:50%; transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);
	background:url($logo-bg-img) no-repeat left top; width:451px; height:402px;  text-align:center; background-size:100%;
	
	img{
		 max-width:100%; position:absolute; top:50%; left:50%;
		 transform:translate(-50%,-60%); -moz-transform:translate(-50%,-60%); -webkit-transform:translate(-50%,-60%); -ms-transform:translate(-50%,-60%);		
		 	@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
				width:50%;
			}
			@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
				width:50%;
			}
		 	@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
				width:50%;
			}
			@media (max-width: $iphone-to-ipad) {
				width:50%;
			}
			@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
				width:50%;
			}
		 	@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
				width:50%;
			}
		 	
	} 
	@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
	 	width:280px; height:250px;	
	}
	@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
	 	width:280px; height:250px;
	}
	@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
	  	width:250px; height:223px;
	}
	@media (max-width: $iphone-to-ipad) {
		width:200px; height:178px;
	}
	@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
		width:180px; height:160px;
	}
	@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
		width:200px; height:178px;
		
	}	
}


 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
 	body{overflow:hidden;}
 	
	.common-section{
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			width:100%; height:50%; display:table;
		}
	}
	.social-image-section { position:relative;
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			position:absolute;
		}
	}
	.corporate-image-section{position:relative;
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			position:absolute;
		}
	}
	 
	
 }


	
.error-title{
	position:absolute; top:50%; left:50%; z-index:5;	
	transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);
	color:$black; width:100%; text-align:center; 
		
		@media (min-width: $desktop-min-full-width) and (max-width: $desktop-max-full-width) {
		  	transform:translate(-60%,-50%); -moz-transform:translate(-60%,-50%); -webkit-transform:translate(-60%,-50%); -ms-transform:translate(-60%,-50%);
		}
		@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
		  	transform:translate(-65%,-50%); -moz-transform:translate(-65%,-50%); -webkit-transform:translate(-65%,-50%); -ms-transform:translate(-65%,-50%);
		}
		@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
		  	transform:translate(-65%,-50%); -moz-transform:translate(-65%,-50%); -webkit-transform:translate(-65%,-50%); -ms-transform:translate(-65%,-50%);
		}
		@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
			transform:translate(-65%,-50%); -moz-transform:translate(-65%,-50%); -webkit-transform:translate(-65%,-50%); -ms-transform:translate(-65%,-50%);		
		}
		@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
		  	transform:translate(-65%,-50%); -moz-transform:translate(-65%,-50%); -webkit-transform:translate(-65%,-50%); -ms-transform:translate(-65%,-50%);		
		}
		@media (max-width: $iphone-to-ipad) {
		  transform:translate(-65%,-50%); -moz-transform:translate(-65%,-50%); -webkit-transform:translate(-65%,-50%); -ms-transform:translate(-65%,-50%);	
		}
		@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
			transform:translate(-70%,-50%); -moz-transform:translate(-70%,-50%); -webkit-transform:translate(-70%,-50%); -ms-transform:translate(-70%,-50%);	
		}
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);
		}
	h2{
		color:$black; font-family: 'open_sansbold'; text-transform:uppercase; font-size:72px; margin-bottom:0px;
		
		@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
		  	font-size:50px;
		}
		@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
		  	font-size:50px;
		}
		@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
			font-size:50px;		 
		}
		@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
		  	font-size:36px;
		}
		
		@media (max-width: $iphone-to-ipad) {
		  font-size:32px;
		}
		
		@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
			font-size:24px;		
		}
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			font-size:36px;		
		}
	}
}

.error-message{
	position:absolute; top:50%; left:50%; z-index:5; text-align:center;
	transform:translate(-40%,-50%); -moz-transform:translate(-40%,-50%); -webkit-transform:translate(-40%,-50%); -ms-transform:translate(-40%,-50%);
	color:$white;	width:60%;
	
		
	
	h3{font-size:26px; font-family: 'open_sansbold'; margin-bottom:15px; text-transform:uppercase;  line-height:normal;
		@media (min-width: $desktop-min-full-width) and (max-width: $desktop-max-full-width) {
		  	font-size:24px;		 
		}	
		@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
		  	font-size:24px;		 
		}
		@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
			font-size:24px;		 
		}
		@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
		  	font-size:18px;
		}
		@media (max-width: $iphone-to-ipad) {
		  	font-size:16px;
		}
		@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
			font-size:18px;
		}
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			font-size:18px;
		}
	}
	p{
		font-size:18px;  font-family: 'open_sansregular';
		@media (min-width: $desktop-min-full-width) and (max-width: $desktop-max-full-width) {
		  	font-size:16px;
		}
		@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
		  	font-size:15px;
		}
		@media (max-width: $iphone-to-ipad) {
		  	font-size:15px;
		}
		@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
			font-size:15px;
		}
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			font-size:15px;
		}
	}
	
		@media (min-width: $desktop-min-full-width) and (max-width: $desktop-max-full-width) {
		  	width:65%; transform:translate(-30%,-50%); -moz-transform:translate(-30%,-50%); -webkit-transform:translate(-30%,-50%); -ms-transform:translate(-30%,-50%);
		}
		@media (min-width: $desktop-full-width) and (max-width: $desktop-medium-width) {
		  	width:50%; transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
		}
		@media (min-width: $desktop-large-width) and (max-width: $screen-lg-max) {
		 	transform:translate(-25%,-50%); -moz-transform:translate(-25%,-50%); -webkit-transform:translate(-25%,-50%); -ms-transform:translate(-25%,-50%);	
		}
		@media (min-width: $desktop_min-width) and (max-width: $desktop-width) {
		 	transform:translate(-20%,-50%); -moz-transform:translate(-20%,-50%); -webkit-transform:translate(-20%,-50%); -ms-transform:translate(-20%,-50%);
		}
		@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
		  	 transform:translate(-25%,-50%); -moz-transform:translate(-25%,-50%); -webkit-transform:translate(-25%,-50%); -ms-transform:translate(-25%,-50%);	
		}
		@media (max-width: $iphone-to-ipad) {
		  transform:translate(-25%,-50%); -moz-transform:translate(-25%,-50%); -webkit-transform:translate(-25%,-50%); -ms-transform:translate(-25%,-50%);	
		}
		@media (min-width: $iphone-landscape-min-width) and (max-width: $iphone-landscape-max-width) {
			transform:translate(-25%,-50%); -moz-transform:translate(-25%,-50%); -webkit-transform:translate(-25%,-50%); -ms-transform:translate(-25%,-50%);	
		}
		@media (min-width: $iphone-min-width) and (max-width: $iphone-max-width) {
			width:90%; transform:translate(-50%,-20%); -moz-transform:translate(-50%,-20%); -webkit-transform:translate(-50%,-20%); -ms-transform:translate(-50%,-20%);			
		}
	
}



