<div class="contact-form">
    <h2>CONTACT US</h2>
    <div class="form-row">
      <label>Hello my name is</label>
      <input type="text">
    </div>
    <div class="form-row">
      <label>I’m interested in</label>
      <input type="text">
    </div>
    <div class="form-row">
      <label>Here’s my e-mail</label>
      <input type="email">
    </div>
    <div class="form-row">
      <label>I can give you more details</label>
      <input type="text" class="width55">
      <input type="text" class="width100">
      <input type="text" class="width100">
      <input type="text" class="width100">
    </div>
    <div class="form-row">
      <input type="submit" value="Send">
    </div>
</div>